.map {
    margin: 0px;
    /* overflow: hidden; */
  }
  
  
  
  .country {
    fill: darkgrey;
    stroke: whitesmoke;
    stroke-width: 0.05px;
    opacity: 1;
  }
  
  .country:hover {
    /* fill: gray; */
    stroke: gray;
    stroke-width: 1px;
  }

  .graticule {
    fill: transparent;
    stroke:gray;
    stroke-width: 1;
    stroke-dasharray: 2, 2;
    opacity: .25;
  }

  .outline {
    fill: transparent;
    stroke:gray;
    stroke-width: 1;
    /* stroke-dasharray: 2, 2; */
    opacity: .25;
  }

  /* .sphere {
    fill: rgba(224, 255, 255, 0.4);
  } */


